/*-----------global----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;/*بتطلعك براحه*/
}

body{
    font-family: 'Akshar', sans-serif;
    background: white;
    color: black;
}

/*start dark mode*/
.dark-mode {
    background:rgb(69, 66, 66);
}
.dark-mode-product{
    width: 400px;  
    height: 550px;
    /*border: 3px grey solid;*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 23px;
    align-items: center;
    background-color: rgb(69, 66, 66);
    color: white;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.773);
}

.dark-mode-product:hover{
    width: 380px;
    height: 510px;
    transition: 0.6s;
}
.dark-mode-btn{
    font-size:27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:5px black solid ;
    color:#eee;
    background: black;
    border-radius:15%;
    transition: 0.8s;
    margin-left: 7px;
    margin-top: 10px;
}
.dark-mode-btn:hover{
    font-size: 23px;
    border:5px #eee solid ;
    color:black;
    background: #eee;
}
/*end dark mode*/

/*----------------------header------------------------------------*/
header {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    background-color:black;
    width: 100%;
    height:12%;
    position:fixed;
    z-index:999;
    justify-content: space-between;
    top:0;
}

.logo img{
    width: 100px;
    margin: auto;
    /*color:#fff;*/
    border-radius: 50%;
}
.logo img:hover{
    width: 110px;
    transition: 0.7s;
}

nav{
     flex: 1;/*x*/
     text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

ul li a{
    text-decoration: none;
    color:#eee;
    transition-duration: 0.7s;
    font-weight : 300;
    font-size:1em;
}

a:hover{
    color:#51C4D3;
    transform: scale(1.3);
    font-size: 19px ;
    transition: 0.9s;
}
/*-----------------------------------------------------------
/*----------------------content-------------------------------*/
.title{
    color: white;
    background:black ;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:67px;
}
.title:hover{
    font-size: 35px;
    color:#51C4D3;
    transition: 0.8s;
}
.pointers{
    background: black;
    position:sticky;
    top:57px;
}
.pointers button{
    margin: 7px;
    border: white 5px solid;
}
.pointers a{
    font-size: 15px;
}
.pointer a :hover{
    font-size: 25px;
}


.link-pointer{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.link-pointer:hover{
    font-size: 18px;
}
.product-container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 300px;
    margin-top: 70px;
}
.product{
    background-color: white;
    width: 400px;  
    height: 550px;
    /*border: 3px grey solid;*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);

}

.product:hover{
    width: 380px;
    height: 510px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    transition: 0.6s;
}


.product P{
    font-size: 23px;
}

.button{
    font-size:27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:5px black solid ;
    color:#eee;
    background: black;
    border-radius:15%;
    transition: 0.8s;
}
.button:hover{
    font-size: 23px;
    border:5px #eee solid ;
    color:black;
    background: #eee;
}

.t-shirt1 img{
    width: 100px;
    height:auto;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.t-shirt1 img:hover{
    width:130px;
}

p::selection{
    background: black ;
    color:white;
}
.product p{
    font-size: 22px;
}
/*شريط البحث*/
/*.search {
    border: 0.5px solid gray;
    border-radius: 20px;
    width: max-content;
    overflow: hidden;
}
.btn-search {
    border: none;
    background-color: black;
}

.btn-search i {
    height: 20px;
    width: 25px;
    color: white;
    margin-right: 7px;
}

.input-search {
    height: 35px;
    margin-left: 5px;
    border: none;
    text-align: center;
    width: 0px;
    transition: 0.9s;
}

.search:hover > .input-search 
    width: 200px;
}
*/
/*-------------------footer-----------------------------------*/
.footer{
    padding-top:850px ;
 }
 
.footer-contant{
    background:black;
    color:#fff;
    padding:1.1em;
    display:flex;
    justify-content: space-between;

}

.footer-col1 h3{
    padding-right: 20px;
    text-align: center;
}

.footer-col1 img{
    width: 115px;
}
/*مش موجود ال CLASS في ال HTML*/
/*
.footer-col2{
    display: flex;
    align-items: center;
    background-color:#132C33;
    width: 100%;
    justify-content: space-between;
}
*/
.footer-title{
    font-size:1.2em;
    font-weight:600;
    margin-top: 20px;
}

.footer-title span{
    color:#51C4D3;
}

/*------------------------------*/